<footer class="footer">
	<small>
		<a href="https://newtwitter.herokuapp.com">You can find a new version of a twitter application</a>
		by samuel santhosh
	</small>
	<nav>
		<ul>
			<li><%= link_to "About",about_path %></li>
			<li><%= link_to "Contact", contact_path %></li>
			<li><a href="http://lankasri.com">News</a></li>
		</ul>
	</nav>
</footer>